* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}


.container {
  flex-wrap: wrap; 
  justify-content: center; 
  align-content: center;
  width: 60%;
  padding-bottom:40px;
}

@font-face {
  font-family:'Oswald';
  src: url('fonts/Oswald-Regular.ttf');
}

/**/

body {
  background-image: url(https://images.unsplash.com/photo-1484807352052-23338990c6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80),linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  max-width: 100%;
  place-items: center;
  font-family: 'Oswald', sans-serif; 
  /**/
}

.title {
  font: 1.5em sans-serif;
  color: aliceblue;
  margin-top: 80px;
  text-align: center;
}


p {
  padding: 20px;   /**/
  color: white;
  text-align: center;
}


.datos-nombe {
  /*display: flex;   */ 
  color: white;
  justify-content: center;
}

label {
  font-size:large;
  font-weight: bold;
  margin-top:15px;
}


label[for="name"] {
  display: flex;
  justify-content: center;
  color: white;
  align-self: center;
}


#name {
  display: grid;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  margin: 10px 0 12px 0;
  font-size: large;
  border-radius: 4px;
}

label[for="email"] {
  display: flex;
  justify-content: center;
  color: white;
  align-self: center;
}

#email {
  display: grid;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  margin: 10px 0 12px 0;
  font-size: large;
  border-radius: 4px;
}

label[for="age"] {
  display: flex;
  justify-content: center;
  color: white;
  align-self: center;  
}

#age {
  display: grid;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  margin: 10px 0 12px 0;
  font-size: large;
  border-radius: 4px;
}

.li {
  display: grid;
  width: 700px;
  height: 45px;
  margin: 30px
}

.rol {
  font: 1.5em;
  color: aliceblue;
  text-align: center;
  line-height: 1.5;
  padding: 15px 10px;
} 

#so {
  display: grid;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  border: 1px solid var(--borderFormEls);
  color: var(--white);
  font-size: large;
}


label[for="so"] {
  display: flex;
  color: white;
  justify-content: center;
  align-self: center; 
}

.recommend {   
  align-items: center; 
  color: white;
  line-height: 3.5;
  padding: 15px 10px;
  font-size: x-large;
}

.conocido {
  color: aliceblue;
  text-align: center;
  line-height: 1.5;
  padding: 15px 10px;
  display: flex; 
}

.radios {
  display: flex;
  justify-content: space-around;
}

.span {
    position: absolute;
    transform: translateX(100%);
}

input[type="radio" i] {
  position: right;
  transform: scale(1.7); 
  margin-left:15px;
}

#start {
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 1.5;
  padding: 15px 10px;
  font-size: large;
}

.date {
  font: 1.5em;
  color: aliceblue;
  text-align: center;
  line-height: 1.5;
  padding: 15px 10px;
  font-size: x-large;
}


.input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical; 
}

.select{
  justify-content: center;
}

.info-receive {
  font: 1.5em sans-serif;
  color: aliceblue;
  text-align: center;
}

.apliquen {
  font: 1em sans-serif;
  color: aliceblue;
  text-align: center;
}


.checkbox-info {
  color: white;
  font: 1em sans-serif;
  display: grid;
  margin: 30px;
  align-content:center;
  justify-content:center;
  align-items:center;
  justify-items: center;
}

.checkbox-info input {
  vertical-align:right;
}

.checkbox-info label {
  vertical-align: left;
  font-weight:normal;
  font-size:large;
}

input[type=submit] {
  background-color: #ffffff;
  color: #000000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width:100%;
}